<div class="flex flex-col h-full w-full">
    <div class="flex w-full h-[3rem] border-solid border-b border-gray-300 text-xl font-medium">
        Branch
    </div>
    <div class="flex flex-wrap justify-center w-full grow py-6">
        <div class="flex flex-col flex-wrap w-full md:w-1/2 pr-5">
            <div class="flex flex-col w-full pb-4">
                <div class="text-lg font-medium content-start pb-2">Detail</div>
                <app-branch-item
                    (editBranchItemEvent)="setItemInEditMode($event)"
                    (saveBranchItemEvent)="updateBranchItem($event)"
                    [isHighlighted]="true"
                    [editable]="true"
                    [item]="items.name"
                    [itemInEditMode]="itemInEditMode"
                    [value]="branchDetail?.name" />

                <app-branch-item
                    (editBranchItemEvent)="setItemInEditMode($event)"
                    (saveBranchItemEvent)="updateBranchItem($event)"
                    [item]="items.branchCode"
                    [editable]="true"
                    [itemInEditMode]="itemInEditMode"
                    [value]="branchDetail?.branchCode" />
            </div>

            <div class="flex flex-col w-full pt-4">
                <div class="text-lg font-medium content-start pb-2">Address</div>
                <app-address [address]="branchDetail?.address" (saveAddressChange)="updateAddressItem($event)" />
            </div>
        </div>
        <div class="flex flex-col flex-wrap w-full md:w-1/2 pl-5">
            <div class="flex flex-col w-full">
                <div class="text-lg font-medium content-start pb-2">Users</div>
                <app-users [users]="branchDetailUsers" [branchDetail]="branchDetail" />
            </div>
        </div>
    </div>
</div>