<div class="flex h-fit w-[40rem] h-[40rem]">
    @if (createUserMode) {
        <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" class="w-full h-fit">
            <div class="flex flex-wrap content-center justify-center w-full h-fit">
                <div class="bg-surface-0 p-6 w-[30rem] h-fit">
                    <div class="flex flex-col gap-8 w-full py-4">
                        <div class="flex flex-col gap-2">
                        <p-floatlabel>
                            <input
                            pInputText
                            id="username"
                            autocomplete="off"
                            class="w-full"
                            formControlName="username"
                            [ngClass]="{'ng-invalid ng-dirty': getFormControl('username')?.hasError('required') && submitted }"
                            />
                            <label for="username">Username</label>
                        </p-floatlabel>
                        @if ( getFormControl('username')?.hasError('required') && submitted) {
                            <small id="username-help" class="text-red-600 px-3">Enter your username</small>
                        }
                        </div>
                
                        <div class="flex flex-col gap-2">
                        <p-floatlabel>
                            <input
                                pInputText
                                id="password"
                                autocomplete="off"
                                class="w-full"
                                formControlName="password"
                                [ngClass]="{'ng-invalid ng-dirty':  getFormControl('password')?.hasError('required') && submitted }"
                            />
                            <label for="password">Password</label>
                        </p-floatlabel>
                        <p-button (click)="generatePassword()" severity="secondary" label="Generate password" />
                        @if ( getFormControl('password')?.hasError('required') && submitted) {
                            <small id="password-help" class="text-red-600 px-3">Enter your password</small>
                        }
                        </div>
                
                        <div class="flex flex-col gap-2">
                        <p-floatlabel>
                            <input
                            pInputText
                            id="first-name"
                            autocomplete="off"
                            class="w-full"
                            formControlName="firstName"
                            [ngClass]="{'ng-invalid ng-dirty':  getFormControl('firstName')?.hasError('required') && submitted }"
                            />
                            <label for="first-name">First name</label>
                        </p-floatlabel>
                        @if ( getFormControl('firstName')?.hasError('required') && submitted) {
                            <small id="firstName-help" class="text-red-600 px-3">Enter your first name</small>
                        }
                        </div>
                
                        <div class="flex flex-col gap-2">
                        <p-floatlabel>
                            <input
                            pInputText
                            id="last-name"
                            autocomplete="off"
                            class="w-full"
                            formControlName="lastName"
                            [ngClass]="{'ng-invalid ng-dirty':  getFormControl('lastName')?.hasError('required') && submitted }"
                            />
                            <label for="last-name">Last name</label>
                        </p-floatlabel>
                        @if ( getFormControl('lastName')?.hasError('required') && submitted) {
                            <small id="lastName-help" class="text-red-600 px-3">Enter your last name</small>
                        }
                        </div>
                
                        <div class="flex flex-col gap-2">
                        <p-floatlabel>
                            <input
                            pInputText
                            id="email"
                            autocomplete="off"
                            class="w-full"
                            formControlName="email"
                            [ngClass]="{'ng-invalid ng-dirty': getFormControl('email')?.hasError('required') && submitted }"
                            />
                            <label for="email">Email</label>
                        </p-floatlabel>
                        @if (getFormControl('lastName')?.hasError('required') && submitted) {
                            <small id="email-help" class="text-red-600 px-3">Enter your email</small>
                        }
                        </div>
                    </div>
                    <div class="flex gap-4 w-full py-4 justify-end gap-3">
                        <p-button (click)="onCancel()" severity="secondary" label="Cancel" />
                        <p-button type="submit" label="Create" />
                    </div>
                </div>
            </div>
        </form>
    } @else {
        <div class="flex flex-wrap place-content-center justify-center w-full h-full">
            <div class="flex w-[30rem] gap-8 p-3 bg-slate-50">
                <div class="flex flex-wrap w-1/4 text-lg font-medium content-start">
                    First name
                </div>
                <div class="flex flex-col flex-wrap grow text-lg gap-2">
                    {{savedUserData.firstName}}
                </div>
            </div>

            <div class="flex w-[30rem] gap-8 p-3">
                <div class="flex flex-wrap w-1/4 text-lg font-medium content-start">
                    Last name
                </div>
                <div class="flex flex-col flex-wrap grow text-lg gap-2">
                    {{savedUserData.lastName}}
                </div>
            </div>

            <div class="flex w-[30rem] gap-8 p-3 bg-slate-50">
                <div class="flex flex-wrap w-1/4 text-lg font-medium content-start">
                    Username
                </div>
                <div class="flex flex-col flex-wrap grow text-lg gap-2">
                    {{savedUserData.username}}
                </div>
            </div>
            
            <div class="flex w-[30rem] gap-8 p-3">
                <div class="flex flex-wrap w-1/4 text-lg font-medium content-start">
                    Password
                </div>
                <div class="flex flex-col flex-wrap grow text-lg gap-2">
                    {{savedUserData.password}}
                </div>
            </div>

            <div class="flex w-[30rem] gap-8 p-3 bg-slate-50">
                <div class="flex flex-wrap w-1/4 text-lg font-medium content-start">
                    Email
                </div>
                <div class="flex flex-col flex-wrap grow text-lg gap-2">
                    {{savedUserData.email}}
                </div>
            </div>

            <div class="flex flex-wrap w-[30rem] justify-end gap-3 p-3">
                <p-button (click)="onCancel()" severity="secondary" label="Cancel" />
                <p-button (click)="addAnother()" label="Add another" />
            </div>
        </div>
    }
</div>
