<div class="flex flex-col h-full w-full">
    <div class="flex w-full h-[3rem] border-solid border-b border-gray-300 text-xl font-medium">
        Profile
    </div>
    <div *ngIf="user$ | async as user" class="flex flex-wrap justify-center w-full grow py-6">
        <div class="flex flex-col flex-wrap w-full lg:w-[45rem]">
            <app-profile-item
                (editProfileItemEvent)="setItemInEditMode($event)"
                (saveProfileItemEvent)="updateProfileItem($event)"
                [isHighlighted]="true"
                [editable]="true"
                [item]="items.firstName"
                [itemInEditMode]="itemInEditMode"
                [value]="user.firstName" />

            <app-profile-item
                (editProfileItemEvent)="setItemInEditMode($event)"
                (saveProfileItemEvent)="updateProfileItem($event)"
                [item]="items.lastName"
                [editable]="true"
                [itemInEditMode]="itemInEditMode"
                [value]="user.lastName" />

            <app-profile-item
                (editProfileItemEvent)="setItemInEditMode($event)"
                (saveProfileItemEvent)="updateProfileItem($event)"
                [isHighlighted]="true"
                [editable]="true"
                [item]="items.username"
                [itemInEditMode]="itemInEditMode"
                [value]="user.username" />

            <app-profile-item
                (editProfileItemEvent)="setItemInEditMode($event)"
                (saveProfileItemEvent)="updateProfileItem($event)"
                [item]="items.email"
                [editable]="true"
                [itemInEditMode]="itemInEditMode"
                [value]="user.email" />

            <div class="flex w-full gap-8 p-3">
                <div class="flex flex-wrap w-1/4 text-lg font-medium content-start">
                    Status
                </div>
                <div class="flex flex-col flex-wrap grow text-lg gap-2">
                    <p-tag *ngIf="!isActive(user?.status)" class="w-fit h-[1.5rem]" severity="danger" >
                        {{user.status?.replace("_", " ")}}
                    </p-tag>

                    <p-tag *ngIf="isActive(user?.status)" severity="success" class="w-fit h-[1.5rem]">
                        {{user.status?.replace("_", " ")}}
                    </p-tag>
                </div>
            </div>

            <div class="flex w-full gap-8 p-3">
                <div class="flex flex-wrap w-1/4 text-lg font-medium content-start">
                    Roles
                </div>
                <div class="flex flex-col flex-wrap grow text-lg gap-2">
                    <ng-container *ngFor="let role of user.roles">
                        <p-tag class="w-fit h-[1.5rem]">
                            {{role.name?.replace("_", " ")?.toLowerCase()}}
                        </p-tag>
                        <div class="text-md font-medium">Permissions</div>
                        <ng-container *ngFor="let permission of role.permissions">
                            <div class="flex pl-2 gap-2">
                                <ng-container *ngFor="let permission of role.permissions">
                                    <p-tag severity="secondary" class="w-fit h-[1.5rem]">
                                        {{permission.module?.replace("_", " ")?.toLowerCase()}}:
                                        {{permission.access?.replace("_", " ")?.toLowerCase()}}
                                    </p-tag>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</div>
